
#header{
    background: rgb(84,84,157);
    background: linear-gradient(90deg, rgba(84,84,157,0.6895133053221288) 0%, rgba(255,255,255,0) 91%);
}

#header img{
    width:80px;
}

#header a:hover{

    color:#000;

}


#footer a{

    color:#fff;

}

