
body{
    font-family: 'Roboto';
}

#header{
    background: rgb(84,84,157);
    background: linear-gradient(90deg, rgba(84,84,157,0.6895133053221288) 0%, rgba(255,255,255,0) 91%);
}

#header img{
    width:70px;
}

#header a {
    color:#000;
    font-weight: bold;

}

#header a:hover{

    color:#4f60be;

}

#main .carousel-inner img{

    max-height:70vh;

    object-fit: cover;

    filter:grayscale(70%);

}

#carousel{
    position:relative;
}

#carousel .overlay{
    position:absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-color:rgba(0, 0, 0, 0.5);
    color:white;
}

.boton:hover{

    color:white;

}

#carousel .overlay .container,
#carousel .overlay .row{
    height:100%;
}

.video_csf{

    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
}

#video_1{

    width:100%;
    height:0;
    padding-top:56.25%;
    background:blue;
    position:relative;

}

.bg-prima{

    background: rgb(109,170,195);
    background: linear-gradient(90deg, rgba(109,170,195,1) 1%, rgba(111,178,198,0.927608543417367) 50%, rgba(111,178,198,1) 75%);
    color:white;
}

.texto-color{

    color:white;
}


#footer a{

    color:#fff;

}

.contenedor_video{

    width:100%;
    height:200px;

}

.html-video2{
    width:100%;
    height:200px;
}

#galeria .padre>a{
    text-decoration: none;
    color:#000;
}

.img-1{

    position:relative;
}

.capa1 p {

    display:none;

}

.capa1{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
}

.img-1 > img{
    height:100%;
}

.capa1:hover{

    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    cursor:pointer;
}





@media screen and (max-width:767px){

    .video_csf{

        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        width:100%;
        height:100%;
    }
    
    #video_1{
    
        width:100%;
        height:0;
        padding-top:56.25%;
        background:blue;
        position:relative;
    
    }

}